.thead-bg-color {
    background-color: #0447b8;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
}
.thead-bg-color-day {
    border: 2px solid #0447b8;
    background-color: #0447b8;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
}
.thead-bg-color-day th{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.thead-bg-color-day a{
    font-size: xx-large;
    padding: 0;
}

.day-row {
    margin-left: 100px;
}

.day-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.day-cell {
    position: relative;
}

.month-task-title {
    /*text-decoration: none;*/
}

.month-task-title-done {
    color: gray;
    text-decoration: line-through;
}

.month-task-title-expired {
    color: darkred;
    font-weight: bold;
}

.month-many-tasks {
    font-weight: bold;
}

.day-num {
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: 3px;
    text-decoration: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

a {
    color: #146c43;
    text-decoration: none;
}

h2 {
    text-align: center
}

body {
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%; /* Занимает всю ширину экрана */
    table-layout: fixed; /* Фиксированный размер столбцов */
    border-collapse: collapse;
}
td{
    border: 2px solid black;

}
.table-month td {
    width: calc(100% / 7); /* 100% / 7 (число столбцов) = 20% */
    border: 1px solid black;
    height: 120px;
    text-align: center; /* Центрируем содержимое по центру ячейки */
    line-height: 0.5; /* Устанавливаем расстояние между строками */
}

th {
    padding: 5px;
}

.in-day-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 10px;
}

.expired-indicator {
    font-weight: bold;
    text-decoration: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #cf0c0f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-buttons {
    margin-bottom: 5px;
    display: flex;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

.arrow-button {
    display: inline-block;
    background-color: #78aafd;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /*margin-right: 40px;*/
    /*margin-left: 40px;*/
}

.arrow-button.left::before {
    color: #ffffff;
    content: "<<<";
    margin-right: 5px;
}

.arrow-button.right::after {
    color: #ffffff;
    content: ">>>";
    margin-left: 5px;
}


/*----------------*/


menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    font-size: large;
}

menu form,
menu p {
    margin: 0;
}
label{
    font-size: large;
}
textarea{
    font-size: large;
}

input[type="date"],
input[type="text"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
}

input[type="submit"] {
    padding: 12px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.btn-set{
    background-color: #78aafd !important;
}
.day-font{
    font-size: large;
}
.btn-done{
    background-color: #3093fc;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

option{
    font-size: large;
}

.button-add {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    font-size: xxx-large;
    color: #ffffff;
    content: "+++";
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
}

.table-container {
    width: 50%;
    margin: 0 auto;
}