<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="head" th:with="pageTitle='Задачи на 3 дня'">
    <!-- Включение head -->
    <div th:replace="head :: head" th:fragment="head"></div>
</div>
<body>
<nav th:with="pageToGo='/3_days'">
    <!-- Включение меню -->
    <div th:replace="menu :: menu" th:fragment="menu"></div>
</nav>
<div>
    <h2>Задачи на 3 дня</h2>
    <div class="nav-buttons">
        <a th:href="@{'/3_days?date=' + ${threeDays.getFirstDate().minusDays(3).toString()}}"
           th:class="'arrow-button left'"> </a>
        <input type="submit" value="Назад" onclick="history.back()" class="arrow-button">
        <a th:href="@{'/3_days?date=' + ${threeDays.getFirstDate().plusDays(3).toString()}}"
           th:class="'arrow-button right'"> </a>
    </div>
</div>
<div class="three-days">

    <table th:each="day : ${threeDays.getDays()}" class="table-container">
        <thead class="thead-bg-color-day">
        <tr>
            <th>
                <a th:href="@{'/day?date=' + ${day.getDate()}}" th:text="${day.getDayName()}"></a>
                <a th:href="@{'/task?date=' + ${day.getDate()}}" class="button-add">+</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${day.getTasks()}">
            <td>
                <div class="in-day-cell">
                    <a th:href="@{'/task/' + ${task.getId()}}">
                        <p th:if="${task.getStatus().toString() != 'EXPIRED'}"
                           th:class="${task.getStatus().toString() == 'SET'} ? 'month-task-title day-font' : 'month-task-title-done day-font'"
                           th:text="${task.getTitle().length() <= 25} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 25)} + '...'"></p>

                        <p th:if="${task.getStatus().toString() == 'EXPIRED'}"
                           class="month-task-title-expired day-font"
                           th:text="${task.getTitle().length() <= 25} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 25)} + '...'"></p>
                    </a>
                    <form th:if="${task.getStatus().toString() != 'EXPIRED'}" th:action="'/change-status'" method="POST">
                        <input type="hidden" name="id" th:value="${task.getId()}">
                        <input type="hidden" name="whereTo" value="3_days">
                        <input type="submit" th:class="${task.getStatus().toString() == 'SET'} ? 'btn-done' : 'btn-set'"
                               th:value="${task.getStatus().toString() == 'SET'} ? 'Выполнено' : 'Не выполнено'">
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>