<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="/fonts/Roboto-Bold.ttf">
    <script src="/js/script.js"></script>
    <title>Задачи на день</title>
</head>
<body>
<nav th:with="pageToGo='/day'">
    <!-- Включение меню -->
    <div th:replace="menu :: menu" th:fragment="menu"></div>
</nav>

<div>
    <h2>Список задач на день</h2>
    <div class="nav-buttons">
        <a th:href="@{'/day?date=' + ${day.getDate().minusDays(1).toString()}}"
           th:class="'arrow-button left'"> </a>
        <input type="submit" value="Назад" onclick="history.back()" class="arrow-button">
        <a th:href="@{'/day?date=' + ${day.getDate().plusDays(1).toString()}}"
           th:class="'arrow-button right'"> </a>
    </div>
</div>

<table class="table-container">
    <thead class="thead-bg-color-day">
    <tr>
        <th>
            <span th:text="${day.getDayName()}"></span>
            <a th:href="@{'/task?date=' + ${day.getDate()}}" th:class="'button-add'">+</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${day.getTasks()}">
        <td>
            <div class="in-day-cell">
                <a th:href="@{'/task/' + ${task.getId()}}">
                    <p th:if="${task.getStatus().toString() != 'EXPIRED'}"
                       th:class="${task.getStatus().toString() == 'SET'} ? 'month-task-title day-font' : 'month-task-title-done day-font'"
                       th:text="${task.getTitle().length() <= 50} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 50)} + '...'"></p>

                    <p th:if="${task.getStatus().toString() == 'EXPIRED'}"
                       class="month-task-title-expired day-font"
                       th:text="${task.getTitle().length() <= 50} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 50)} + '...'"></p>
                </a>
                <form th:if="${task.getStatus().toString() != 'EXPIRED'}" th:action="'/change-status'" method="POST">
                    <input type="hidden" name="id" th:value="${task.getId()}">
                    <input type="hidden" name="whereTo" value="day">
                    <input type="submit" th:class="${task.getStatus().toString() == 'SET'} ? 'btn-done' : 'btn-set'"
                           th:value="${task.getStatus().toString() == 'SET'} ? 'Выполнено' : 'Не выполнено'">
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>