<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="pageTitle='Задачи на день'">
    <!-- Включение head -->
    <div th:replace="~{head :: head}" th:fragment="head"></div>
</th:block>
<body>
<nav th:with="pageToGo='/day'">
    <!-- Включение меню -->
    <div th:replace="~{menu :: menu}" th:fragment="menu"></div>
</nav>

<div>
    <h2>Список задач на день</h2>
    <div class="nav-buttons">
        <a th:href="@{'/day?date=' + ${day.getDate().minusDays(1).toString()}}"
           th:class="'arrow-button left'"> </a>
        <input type="submit" value="Назад" onclick="history.back()" class="arrow-button">
        <a th:href="@{'/day?date=' + ${day.getDate().plusDays(1).toString()}}"
           th:class="'arrow-button right'"> </a>
    </div>
</div>

<table class="table-container">
    <thead class="thead-bg-color-day">
    <tr>
        <th>
            <span th:text="${day.getDayName()}"></span>
            <a th:href="@{'/task?date=' + ${day.getDate()}}" th:class="'button-add'">+</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${day.getTasks()}">
        <td>
            <div class="in-day-cell">
                <a th:href="@{'/task/' + ${task.getId()}}">
                    <p th:class="${task.getStatus().toString() == 'EXPIRED'} ? 'month-task-title-expired day-font'
                        : (${task.getStatus().toString() == 'SET'} ? 'month-task-title day-font'
                            : 'month-task-title-done day-font')"
                       th:text="${task.getTitle().length() <= 50} ? ${task.getTitle()}
                            : ${task.getTitle().substring(0, 50)} + '...'"></p>
                </a>
                <form th:action="'/change-status'" th:method="PUT">
                    <input type="hidden" name="id" th:value="${task.getId()}">
                    <input type="hidden" name="whereTo" th:value="'/day?date=' + ${day.getDate()}">
                    <input type="submit" th:class="${task.getStatus().toString() == 'DONE'} ? 'btn-set' : 'btn-done'"
                           th:value="${task.getStatus().toString() == 'DONE'} ? 'Не выполнено' : 'Выполнено'">
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>