<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="/fonts/Roboto-Bold.ttf">
    <script src="/js/script.js"></script>
    <title>Задачи на 4 дня</title>
</head>
<body>
<nav th:with="pageToGo='/list'">
    <!-- Включение меню -->
    <div th:replace="menu :: menu" th:fragment="menu"></div>
</nav>


<ol>
    <li th:each="task : ${tasks}">
        <!--зачеркнуть выполненные, подсветить просроченные-->
        <div>
            <a th:href="@{'/task/' + ${task.getId()}}">
                <p th:if="${task.getStatus().toString() != 'EXPIRED'}"
                   th:class="${task.getStatus().toString() == 'SET'} ? 'month-task-title' : 'month-task-title-done'"
                   th:text="${task.getTitle() + ' : ' + task.getDescription()}"></p>

                <p th:if="${task.getStatus().toString() == 'EXPIRED'}"
                   class="month-task-title-expired"
                   th:text="${task.getTitle() + ' : ' + task.getDescription()}"></p>
            </a>
            <form th:if="${task.getStatus().toString() != 'EXPIRED'}" th:action="'/change-status'" method="POST">
                <input type="hidden" name="id" th:value="${task.getId()}">
                <input type="hidden" name="whereTo" th:value="'/list?search=' + ${search}">
                <input type="submit" th:value="${task.getStatus().toString() == 'SET'} ? 'Выполнено' : 'Не выполнено'">
            </form>
        </div>
    </li>
</ol>

</body>
</html>