<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="/fonts/Roboto-Bold.ttf">
    <script src="/js/script.js"></script>
    <title>Задачи на 4 дня</title>
</head>
<body>
<nav th:with="pageToGo='/list'">
    <!-- Включение меню -->
    <div th:replace="menu :: menu" th:fragment="menu"></div>
</nav>

<ul>
    <li th:each="task : ${tasks}" >
        <p th:text="${task.getTitle() + ' : ' + task.getDescription()}"></p>
    </li>
</ul>

</body>
</html>