<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="pageTitle='Список задач'">
    <!-- Включение head -->
    <div th:replace="~{head :: head}" th:fragment="head"></div>
</th:block>
<body>
<nav th:with="pageToGo='/list'">
    <!-- Включение меню -->
    <div th:replace="~{menu :: menu}" th:fragment="menu"></div>
</nav>


<ol>
    <li th:each="task : ${tasks}">
        <!--зачеркнуть выполненные, подсветить просроченные, ограничение длины текста-->
        <div>
            <a th:href="@{'/task/' + ${task.getId()}}">
                <p th:class="${task.getStatus().toString() == 'EXPIRED'} ? 'month-task-title-expired' :
                 (${task.getStatus().toString() == 'SET'} ? 'month-task-title' : 'month-task-title-done')"
                th:text="${task.getWeekDay()} + ', ' + ${task.getReadableExpireDate()} + ' | ' +
                (${task.getTitle().length() <= 100} ? ${task.getTitle()}
                : ${task.getTitle().substring(0, 100)} + '...')"></p>
            </a>
            <form th:action="'/change-status'" method="POST">
                <input type="hidden" name="id" th:value="${task.getId()}">
                <input type="hidden" name="whereTo" th:value="${urlAddress}">
                <input type="submit" th:class="${task.getStatus().toString() == 'DONE'} ? 'btn-set' : 'btn-done'"
                       th:value="${task.getStatus().toString() == 'DONE'} ? 'Не выполнено' : 'Выполнено'">
            </form>
        </div>
    </li>
</ol>

</body>
</html>