<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Календарь задач</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<form action="." method="GET">
    <p>Выберите дату: <input type="date" name="date">
        <input type="submit" value="Отправить"></p>
</form>
<h2>Календарь задач на месяц</h2>
<table>
    <tr>
        <th>Пн</th>
        <th>Вт</th>
        <th>Ср</th>
        <th>Чт</th>
        <th>Пт</th>
        <th>Сб</th>
        <th>Вс</th>
    </tr>
    <tr th:each="week : ${tasks.getWeeks()}">
        <td th:each="day : ${week.getDays()}">
            <div th:if="${day.getNumber() != null}" th:text="${day.getNumber()}">
<!--                <p th:text="${day.getNumber()}"></p>-->
            </div>

            <div th:if="${day.getTasks() != null}" th:each="task : ${day.getTasks()}">
                <p th:text="${task.getTitle()}"></p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>