<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="pageTitle='Календарь задач на месяц'">
    <!-- Включение head -->
    <div th:replace="~{head :: head}" th:fragment="head"></div>
</th:block>
<body>
<nav th:with="pageToGo='/'">
    <!-- Включение меню -->
    <div th:replace="~{menu :: menu}" th:fragment="menu"></div>
</nav>

<div>
    <h2 th:text="${monthName}">Календарь задач на месяц</h2>
    <div class="nav-buttons">
        <a th:href="@{'/?date=' + ${month.getFirstDate().minusMonths(1).toString()}}"
           th:class="'arrow-button left'"> </a>
        <input type="submit" value="Назад" onclick="history.back()" class="arrow-button">
        <a th:href="@{'/?date=' + ${month.getFirstDate().plusMonths(1).toString()}}"
           th:class="'arrow-button right'"> </a>
    </div>
    <div>
        <div>
            <table class="table-month">
                <thead class="thead-bg-color">
                <tr>
                    <th>ПН</th>
                    <th>ВТ</th>
                    <th>СР</th>
                    <th>ЧТ</th>
                    <th>ПТ</th>
                    <th>СБ</th>
                    <th>ВС</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="week : ${month.getWeeks()}">
                    <td th:each="day : ${week.getDays()}" th:class="'day-cell'">
                        <!--если номер есть - отобразить и сделать кликабельным-->
                        <a th:if="${day.getNumber() != null}" th:text="${day.getNumber()}"
                           th:class="${day.getDate() == month.getNowDate()} ? 'day-num now' : 'day-num'"
                           th:href="@{'/day?date=' + ${day.getDate().toString()}}">
                        </a>
                        <!--отобразить все задачи на день-->
                        <div th:if="${day.getTasks() != null} and ${day.getTasks().size() <= 4}"
                             th:each="task : ${day.getTasks()}">
                            <!--зачеркнуть выполненные, подсветить просроченные-->
                            <a th:href="@{'/task/' + ${task.getId()}}">
                                <p th:text="${task.getTitle().length() <= 20} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 20)} + '...'"
                                   th:class="${task.getStatus().toString() == 'SET'} ? 'month-task-title'
                                       : (${task.getStatus().toString() == 'DONE'} ? 'month-task-title-done'
                                           : 'month-task-title-expired')"></p>
                            </a>
                        </div>
                        <!-- или кол-во задач если их > 4-->
                        <div th:if="${day.getTasks() != null} and ${day.getTasks().size() > 4}">
                            <a th:text="${day.getTasks().size() + ' задач'}"
                               th:class="${day.hasExpired()} ? 'month-task-title-expired'
                                   : (${day.getDate() < month.getNowDate()} ? 'month-task-title-done'
                                      : 'month-many-tasks')"
                               th:href="@{'/day?date=' + ${day.getDate()}}">
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>