<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="/fonts/Roboto-Bold.ttf">
    <script src="/js/script.js"></script>
    <title>Календарь задач на месяц</title>
</head>
<body>
<menu>
    <form action="/" method="GET">
        <p>Выберите дату: <input type="date" name="date">
            <input type="submit" value="Показать задачи"></p>
    </form>

    <a th:href="@{'/task'}" th:class="'button-add'">+</a>

    <p> Вид:
        <select id="view-filter" title="view selector" onchange="setFilter()">
            <option value="">Месяц</option>
            <option value="3_days">3 дня</option>
            <option value="day">День</option>
        </select></p>

    <a th:if="${expired != null}" th:text="${expired.size()}" th:class="'expired-indicator'"
       th:href="@{'/expired'}">
    </a>

    <form action="/list" method="get">
        <input type="text" name="search" placeholder="введите запрос">
        <input type="submit" value="Поиск">
    </form>
</menu>

<div>

    <h2 th:text="${monthName}">Календарь задач на месяц</h2>
    <div class="nav-buttons">
        <a th:href="@{'/?date=' + ${month.getFirstDate().minusMonths(1).toString()}}"
           th:class="'arrow-button left'"> </a>
        <a th:href="@{'/?date=' + ${month.getFirstDate().plusMonths(1).toString()}}"
           th:class="'arrow-button right'"> </a>
    </div>
    <div>
        <div>
            <table>
                <thead class="thead-bg-color">
                <tr>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Вс</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="week : ${month.getWeeks()}">
                    <td th:each="day : ${week.getDays()}" th:class="'day-cell'">
                        <!--если номер есть - отобразить и сделать кликабельным-->
                        <a th:if="${day.getNumber() != null}" th:text="${day.getNumber()}" th:class="'day-num'"
                           th:href="@{'/day?date=' + ${day.getDate().toString()}}">
                        </a>
                        <!--отобразить все задачи на день, или их кол-во если > 4-->
                        <div th:if="${day.getTasks() != null} and ${day.getTasks().size() <= 4}"
                             th:each="task : ${day.getTasks()}">
                            <!--зачеркнуть выполненные, подсветить просроченные-->
                            <div th:switch="${task.getStatus().toString()}">

                                <a th:href="@{'/task/' + ${task.getId()}}">
                                    <p th:case="${'SET'}" th:class="'month-task-title'"
                                       th:text="${task.getTitle().length() <= 20} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 20)} + '...'"></p>
                                    <p th:case="${'DONE'}" th:class="'month-task-title-done'"
                                       th:text="${task.getTitle().length() <= 20} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 20)} + '...'"></p>
                                    <p th:case="${'EXPIRED'}" th:class="'month-task-title-expired'"
                                       th:text="${task.getTitle().length() <= 20} ? ${task.getTitle()}
                                       : ${task.getTitle().substring(0, 20)} + '...'"></p>
                                </a>
                            </div>

                        </div>
                        <div th:if="${day.getTasks() != null} and ${day.getTasks().size() > 4}">
                            <a th:text="${day.getTasks().size() + ' задач'}" th:class="'month-many-tasks'"
                               th:href="@{'/day?date=' + ${day.getDate().toString()}}">
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>