<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="/fonts/Roboto-Bold.ttf">
    <script src="/js/script.js"></script>
    <title>Карточка задачи</title>
</head>
<body>
<nav th:with="pageToGo='/day'">
    <!-- Включение меню -->
    <div th:replace="menu :: menu" th:fragment="menu"></div>
</nav>
<!--отображение статуса-->
<div th:if="${task.getId() != null}" th:switch="${task.getStatus().toString()}">
    <h3 th:case="${'SET'}" th:text="'Задача не выполнена'">Задача</h3>
    <h3 th:case="${'DONE'}" th:text="'Задача выполнена'">Задача</h3>
    <h3 th:case="${'EXPIRED'}" th:text="'Задача просрочена'">Задача</h3>
</div>
<h3 th:if="${task.getId() == null}" th:text="'Новая задача'">Задача</h3>
<!--отображение тела задачи-->
<form th:action="${task.getId() != null} ? '/task/' + ${task.getId()} : '/task'" method="POST">
    <label for="title">Название задачи:</label>
    <input type="text" id="title" name="title" th:value="${task.getTitle()}" required>
    <label for="description">Описание задачи:</label>
    <textarea id="description" name="description" th:text="${task.getDescription()}"></textarea>

    <label for="expire">Дата:</label>
    <input type="date" id="expire" name="expireDate" th:value="${task.getExpireDate().toString()}">

    <!--  показать если работаем с новой задачей -->
    <input th:if="${task.getId() == null}" type="hidden" name="status" value="0">

    <!--  показать если работаем с уже существующей непросроченной задачей -->
    <div th:if="${task.getId() != null} and ${task.getStatus().toString() != 'EXPIRED'}">
        <p th:if="${task.getStatus().toString() == 'SET'}">
            <input type="checkbox" id="check_yes" name="status" value="1">
            <label for="check_yes">Отметить выполненым</label>
        </p>
        <p th:if="${task.getStatus().toString() == 'DONE'}">
            <input type="checkbox" id="check_not" name="status" value="0">
            <label for="check_not">Отметить невыполненым</label>
        </p>
    </div>

    <input type="submit" value="Сохранить">
</form>
<form th:if="${task.getId() != null}" th:action="'/delete/' +${task.getId()}" method="POST">
    <input type="submit" value="Удалить">
</form>
<input type="submit" value="Отмена" onclick="history.back()">

</body>
</html>