<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="pageTitle='Карточка задачи'">
    <!-- Включение head -->
    <div th:replace="~{head :: head}" th:fragment="head"></div>
</th:block>
<body>
<nav th:with="pageToGo='/day'">
    <!-- Включение меню -->
    <div th:replace="~{menu :: menu}" th:fragment="menu"></div>
</nav>
<!--отображение статуса-->
<div class="task-view">
    <div th:if="${task.getId() != null}" th:switch="${task.getStatus().toString()}">
        <h2 th:case="${'SET'}" th:text="'Задача не выполнена'">Задача</h2>
        <h2 th:case="${'DONE'}" th:text="'Задача выполнена'" class="task-status-done">Задача</h2>
        <h2 th:case="${'EXPIRED'}" th:text="'Задача просрочена'" class="task-status-expired">Задача</h2>
    </div>
    <h2 th:if="${task.getId() == null}" th:text="'Новая задача'">Задача</h2>
    <!--отображение тела задачи-->
    <div>
        <form class="task-form" th:action="${task.getId() != null} ? '/task/' + ${task.getId()} : '/task'"
              method="POST">
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" th:value="${task.getTitle()}" required maxlength="150">
            <label for="description">Описание:</label>
            <textarea id="description" name="description" maxlength="500" th:text="${task.getDescription()}"></textarea>
            <div class="task-form-inside">
                <div><label for="expire">Дата:</label>
                    <input type="date" id="expire" name="expireDate" th:value="${task.getExpireDate().toString()}">
                </div>

                <!-- статус по умолчанию, если работаем с новой задачей -->
                <input th:if="${task.getId() == null}" type="hidden" name="status" value="0">

                <!-- статус, если работаем с уже существующей задачей -->
                <div th:if="${task.getId() != null}">
                    <p th:if="${task.getStatus().toString() == 'SET'} or ${task.getStatus().toString() == 'EXPIRED'}">
                        <label for="check_yes">Выполнено</label>
                        <input type="checkbox" id="check_yes" name="status" value="1">
                    </p>
                    <p th:if="${task.getStatus().toString() == 'DONE'}">
                        <label for="check_not">Не выполнено</label>
                        <input type="checkbox" id="check_not" name="status" value="0">
                    </p>
                </div>
            </div>
            <input type="submit" value="Сохранить">
        </form>
    </div>
    <div class="task-view-btns">
        <form th:if="${task.getId() != null}" th:action="'/delete/' +${task.getId()}" method="POST">
            <input class="btn-del" type="submit" value="Удалить">
        </form>
        <input class="btn-set" type="submit" value="Отмена" onclick="history.back()">
    </div>
</div>

</body>
</html>